.a {
	height: 100px;
	opacity: .1;
	width: 100px;
	transform: rotate(180deg);
	background:transparent url('image.png') left top no-repeat;
	animation: name duration timing-function delay iteration-count direction fill-mode;
}

body {
	color: red;
	font-size: 20px;
}